$primary-color: #fcde67;
$against-primary: #4b433b;
$against-primary-subtle: #85807c;
$secondary-color: #F96167;
$tertiary-color:#5bccf6;
$against-tertiary: white;
$against-tertiary-subtle: antiquewhite;